@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color-scheme: light;
}

@font-face {
    font-family: "manropeExtraLight";
    src: url('./fonts/Manrope-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: "manropeLight";
    src: url('./fonts/Manrope-Light.ttf') format('truetype');
}

@font-face {
    font-family: "manrope";
    src: url('./fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "manropeMedium";
    src: url('./fonts/Manrope-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "manropeSemiBold";
    src: url('./fonts/Manrope-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: "manropeBold";
    src: url('./fonts/Manrope-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "manropeExtraBold";
    src: url('./fonts/Manrope-ExtraBold.ttf') format('truetype');
}